@define-color bg rgba(0, 0, 0, 1.0);
/*@define-color hover-bg rgba(90, 0, 99, 0.5);
@define-color hover-bord #a703c5;
@define-color bord #773385;
*/
@import 'colors.css';


* {
    font-family: "Sans";
    font-size: 13px;
    transition: 100ms linear;
    min-height: 0px;
    min-width: 0px;
    color: @fonts;
}
#task-box-focused, 
#task-box {
    padding-left: 2px;
    padding-right: 2px;
}

#task-box-focused {
    box-shadow: inset 0 2px @hover-bord;
    background-color: rgba (255, 255, 255, 0.12);
}
#task-box-focused image {
    transition: 500ms linear;
    background-color: rgba (255, 255, 255, 0);
}

/* Bottom panel in sample config uses this name */
#panel-bottom {
    background: transparent;
    box-shadow: inset 0 2px #ff66cc77 ; 
}
#panel-left {
    background: linear-gradient(to top, rgba(50, 10, 100, 0.8) 0%, rgba(30, 10, 100, 0.3) 100%);
    color: #eeeeee
}
/* Recommended if panel "height" unset or smaller then your theme default button height */

/* SwayTaskBar and SwayWorkspaces use custom widgets, that need this and the next name
to highlight currently focused task / workspace. */
#left-box,
#center-box,
#right-box {
    background: @bg;
    border-radius: 90px;
    /*border: 1px solid @bord;*/
    margin:  2px;
}
#left-box :selected,
#left-box :hover,
#center-box :hover,
#center-box :selected,
#right-box :hover,
#right-box :selected{
    background: @hover-bg;
    border-radius: 90px;
    border: 1px solid @hover-bord;
}


#weather-forecast {
    /*-gtk-icon-source: -gtk-icontheme('breeze-dark');
    -gtk-icon-theme: "breeze-dark";*/
    background: linear-gradient(180deg,rgba(20, 81, 181, 0.8), rgba(20, 1, 21, 0.8));
    color: #fff;
}
#weather-forecast *{
    color: #fff;
}

#clock,
#pinned-button,
#root-pinned button {
    background: transparent;
    border-radius: 90px;
    border: 1px solid transparent;
}
#calendar-window,
#brightness-popup {
    border-radius: 10px;
    color: #eeeeee;
    font-family: monospace;
}
#brightness-popup box {
    padding: 15px;
}

#swaync {
    font-size: 0px;
    -gtk-icon-transform: scale(0.0);
    border-image-width: 1;
    opacity: 0;
}
#controls-overview ,
#controls-overview *{
    font-size: 0px;
    outline-offset: -10px;
    border-image-slice: 10%;
    -gtk-icon-transform: scale(1.0);
    -gtk-outline-bottom-left-radius: 0px;
    -gtk-outline-bottom-right-radius: 0px;
    -gtk-outline-top-left-radius: 0px;
    -gtk-outline-top-right-radius: 0px;
}

#btn-playerctl {
    border: transparent;
    background: transparent;
}
#btn-playerctl *:hover{
    background: #c50ed2;
}
button:hover {
    background-color: #c50ed2;
}

