*.png
*.exe
/fcitx5/.local/share/fcitx5/data
/fcitx5/.local/share/fcitx5/rime
/bin/bin/.*
/bin/bin/*
!/bin/bin/wmenurun
!/bin/bin/ykrun
!/bin/bin/ykls

!/bin/bin/_wrap*
!/bin/bin/gwrap
!/bin/bin/cwrap
!/bin/bin/xqq
!/bin/bin/cpt
!/bin/bin/cpc
!/bin/bin/niri-*
!/bin/bin/shadow*
!/bin/bin/dxterm
!/bin/bin/unlock
!/bin/bin/wfrc
!/bin/bin/ch*bg
!/bin/bin/clash_start
!/bin/bin/ndwm
!/bin/bin/updot
!/bin/bin/loudvid
!/bin/bin/oomnotid

/superfile
/dolphin-emu
/dunst
/kitty
/polybar
/i3
/sway
/labwc
/openbox
/wayfire
/kate
/hypr
/alacritty

