*{
    transition: 1000ms ease ;
}
window {
    background-image: url("/run/user/1000/lock.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.3);
    font-family: 'Comic Mono';
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7)
}
#input-field {
    background-color: rgba(3, 3, 3, 0.15)
}
